<html>
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link href = "<%= pageContext %>/static/stylesheets/bootstrap.min.css" rel = "stylesheet"/>
    <!--<link href='/stylesheets/style.css' rel='stylesheet' />-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "https://code.jquery.com/jquery.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src = "<%= pageContext %>/static/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src = "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src = "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="application/javascript">
        function addQuestion() {
            var form = document.getElementById("myform");
            form.action = "questions/new";
            form.method = "GET";
            form.submit();
        }

        function doSave () {
            var form = document.getElementById("myform");
            form.submit();
        }

        //
        $(document).ready(function () {
            $("#addQuestionButton").click(addQuestion);
            $("#saveButton").click(doSave);
        });

    </script>
</head>
<body>
<a href="./tests">View All Tests</a>
<br><br>
Here are all the Pre/Post questions

<form id="myform" action="questions", method="post">
    <a id="addQuestionButton" class='btn btn-delete btn-primary btn-xs'>Create New Question</a>

    <br>


    <div id="content" style="overflow: auto; height: 70vh; width: 100%;">
    <table class="table table-striped">
        <thead><th>Del</th><th>QID</th><th>Description</th></thead>
        <tbody>
        <% questions.forEach(function (question) { %>
        <tr>
            <td> <%- checkbox_tag('removeQuestion',{"value": question.id}) %></td>
            <td><%= question.id %></td>
            <td> <a title="<%= question.hoverText %>" href="questions/<%= question.id%>"> <%= question.descr %> </a>  </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
        </div>
    <br><br>
        <a id="saveButton" class='btn btn-delete btn-primary btn-xs'>Save</a>

</form>

</body>
</html>