<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "https://code.jquery.com/jquery.js"></script>
    <script src = "js/bootstrap.min.js"></script>
    <link href = "stylesheets/bootstrap.min.css" rel = "stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src = "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src = "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->
    <link rel='stylesheet' href='../stylesheets/style.css'/>

    <title>Edit Test <%= tid %></title>
    <script type="application/javascript">
        var newQuestionCounter =0;

        function validateTest () {
            return true;
        }

        // cur URL is like http:.../tests/102 and this loads http:.../tests/102
        function fetchTest (tid) {
            document.location.href =  tid;
        }

        // cur URL is like http:.../tests/102 .  Will goto URL http .../questions/preview?tid=tid
        function previewTest (tid) {
            document.location.href = "../../tests/preview?tid=" + tid;
        }

        function addQuestionRow () {

            var tab = document.getElementById("questionTable");
            var nRows = tab.rows.length;
            var r = tab.insertRow(-1);

            var c = r.insertCell(0);
            c.innerHTML = "";
            var d = r.insertCell(1) ;
//            d.innerHTML = "<input type='button' onclick='moveUp(" +nRows+ ")' value='^'>";
            d = r.insertCell(2) ;
//            tab.rows[nRows-1].cells[2].innerHTML = "<input type='button' onclick='moveDown(" +nRows+ ")' value='v'>";
//            d.innerHTML = "<input type='button' onclick='moveDown(" +nRows+ ")' value='v'>";
            var e = r.insertCell(3)  ;
            newQuestionCounter++;
            e.innerHTML = "<input id='newQuestion-" +newQuestionCounter + "' onblur='getQuestion(" +newQuestionCounter+ ")' type='textfield' name='questionIds' size='3'>" ;
            var f = r.insertCell(4) ;

        }



        // This was doing some AJAX that leaves the form in a state that is confusing to user
        // because it doesn't represent the saved DB state of the test.
        function getQuestion (newQuestNum) {
            var id = 'newQuestion-' + newQuestNum;
            var textfield = document.getElementById(id);
            var questId = textfield.value;
            if (!questionAlreadyInTest(questId)) {
                var tab = document.getElementById("questionTable");
                var rowAdded = tab.rows.length;
                var questDescr = tab.rows[rowAdded - 1].cells[4];
                // get the questions desdr and hover text from the id typed in
                $.getJSON("../questions/descr/" + questId, function (data) {
                    var descr = data.descr;
                    var hoverText = data.hoverText;
                    var linkToQ;
                    if (descr.startsWith("Error"))
                        linkToQ = descr;
                    else {
                        var f = document.getElementById("testForm");
                        f.submit();
                    }
                    questDescr.innerHTML = linkToQ;
                });
            }
            else {
                var tab = document.getElementById("questionTable");
                var rowAdded = tab.rows.length;
                var questDescr = tab.rows[rowAdded - 1].cells[4];
                questDescr.innerHTML = "That question is already in the test!";
            }

        }



        function getRowVals (cells) {
            // checkBox
//            table.rows[rowIndex].cells[colIndex].getElementsByTagName('input')[0];
            var td0 = cells[0];
            var checkBox = td0.getElementsByTagName('input')[0];
            var isChecked = checkBox.checked;
            checkBox = cells[0].innerHTML;
            var id = cells[3].innerHTML;
            var link = cells[4].innerHTML;
            var hiddenId = cells[5].innerHTML;
            return [checkBox, id, link, hiddenId] ;

        }

        function moveUp (n) {
            var tab = document.getElementById("questionTable");
            var rowOn = tab.rows[n];
            var rowAbove = tab.rows[n-1];

            var cellsOn = rowOn.getElementsByTagName("td");
            var temp = getRowVals(cellsOn);
            var cellsAbove = rowAbove.getElementsByTagName("td");
            cellsOn[0].innerHTML = cellsAbove[0].innerHTML;
            cellsOn[3].innerHTML = cellsAbove[3].innerHTML;
            cellsOn[4].innerHTML = cellsAbove[4].innerHTML;
            cellsOn[5].innerHTML = cellsAbove[5].innerHTML;
            cellsAbove[0].innerHTML = temp[0];
            cellsAbove[3].innerHTML = temp[1];
            cellsAbove[4].innerHTML = temp[2];
            cellsAbove[5].innerHTML = temp[3];

//                alert("cells " + cells.length + " id " + cells[3].innerHTML);

        }

        function moveDown (n) {
            var tab = document.getElementById("questionTable");
            var rowOn = tab.rows[n+1];
            var rowAbove = tab.rows[n];

            var cellsOn = rowOn.getElementsByTagName("td");
            var temp = getRowVals(cellsOn);
            var cellsAbove = rowAbove.getElementsByTagName("td");
            cellsOn[0].innerHTML = cellsAbove[0].innerHTML;
            cellsOn[3].innerHTML = cellsAbove[3].innerHTML;
            cellsOn[4].innerHTML = cellsAbove[4].innerHTML;
            cellsOn[5].innerHTML = cellsAbove[5].innerHTML;
            cellsAbove[0].innerHTML = temp[0];
            cellsAbove[3].innerHTML = temp[1];
            cellsAbove[4].innerHTML = temp[2];
            cellsAbove[5].innerHTML = temp[3];

        }

        function popupQuestions () {
            window.open("../questions","", "width=500,height=600,toolbar=yes,scrollbars=yes,resizable=yes");
        }

        // Need to prevent the ENTER key from submitting the form
        $(document).ready(function() {
            $('#testForm').on('keyup keypress', function(e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });

        function questionAlreadyInTest (qid) {
            var ids = [<%= test.questionIds %>];
            qid = parseInt(qid);
            for (var i=0; i<ids.length;i++) {
                if (ids[i] == qid)
                    return true;
            }
            return false;
        }
    </script>
</head>

<body>
<a href="../tests">View All Tests</a> &nbsp; &nbsp; <a href="../questions">View All Questions</a>
    <br><br>

<!-- See for doc on view helpers https://github.com/tanema/express-helpers/wiki -->
    <form id="testForm" method="post" action="<%= tid %>" onsubmit="return validateTest()">

    Test ID: <%= tid %>
    <br>
    Name: <%- text_field_tag("name",{"value": test.name}) %>
    <!--Questions size: <%= test.questions.length %>-->
        <br><br>

        <table id="questionTable">
            <tr> <td>Del</td> <td>Up</td> <td>Dwn</td> <td>Quest ID</td> <td><input type="button" onclick="addQuestionRow()" value="Add Question"></td><td><input type="button" onclick="popupQuestions()" value="Popup All questions"></td></tr>
        <% for (var i=1; i <= test.questions.length; i++) { %>
        <% var q = test.questions[i-1]; %>
            <tr id="row-<%= i %>" >
                <td> <%- checkbox_tag('removeQuestion',{"value": q.id}) %></td>
                <td>
                    <% if (i != 1) { %>
                        <input type="button" onclick="moveUp( <%= i %> )" value="^">
                    <% } %>
                </td>
                <td>
                    <% if (i != test.questions.length) { %>
                        <input type="button" onclick="moveDown( <%= i %> )" value="v"></td>
                    <% } %>
                <td> <%= q.id %> </td>
                <td> <a title="<%= q.hoverText %>" href="../questions/<%= q.id%>"><%= q.descr %></a></td>
                <td><input type="hidden" name="questionIds" value="<%= q.id %>"></td>
            </tr>
        <% } %>
        </table>
        <br>

        <% if (message) { %>
           <%= message %>
        <% } %>
        <br>
        <a href="preview?tid=<%= test.id %>">Preview Test</a>

        <br><br>
        <%- submit_tag("Save") %>
        <input type="button" value="Cancel" onclick="fetchTest(<%=test.id %>)" name="reset">

    </form>



</body>
</html>