<html>
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

    <!-- Bootstrap -->

    <link href = "<%= pageContext %>/static/stylesheets/bootstrap.min.css" rel = "stylesheet"/>
    <!--<link href='/stylesheets/style.css' rel='stylesheet' />-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "https://code.jquery.com/jquery.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src = "<%= pageContext %>/static/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src = "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src = "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  <script type="application/javascript">
      function addTest() {
          document.location.href = "<%= pageContext %>/tests/new";
      }
  </script>
</head>
<body>
<a href="<%= pageContext %>/questions">View All Questions</a>
<br><br>
Here are the Pre/Post tests

<form action="<%= pageContext %>/tests", method="post">

<table>
  <tr><td>Del</td> <td></td ><td><input type="button" name="newTest" onclick="addTest()" value="+"></td> <td></td></tr>
  <% tests.forEach(function (test) { %>
  <tr>
      <td> <%- checkbox_tag('removeTest',{"value": test.id}) %></td>
      <td><%= test.id %></td>
      <td> &nbsp;<a href="<%= pageContext %>/tests/<%= test.id%>"><%= test.name %> </a>  </td>
      <td><% if (!test.isActive) {%> inactive <% } %> </td>
  </tr>
  <% }); %>
</table>
  <input type="submit" name="submit" value="Save">
</form>



</body>
</html>